#root {
    max-width: 1280px;
    min-width: 600px;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
    background-color: lightblue;
    font-size: 18px;
  }
  
  
  
  .card {
    padding: 12em;
  }